@charset "utf-8";
/* CSS Document */
/************************************ FONTS FACE OPEN ******************************************/
/**************************************** FONTS FACE CLOSE *************************/
body{font-family:Arial, Helvetica, sans-serif;font-size:14px;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;font-style:normal;font-weight:normal;line-height:normal;}
h1{font-family: 'latobold'; font-size:53px; text-transform:capitalize;}
h2{font-family: 'oswaldbook'; font-size:30px; text-transform:uppercase;}
h3{font-family: 'oswaldbook'; font-size:16px; text-transform:uppercase;}
h4{font-family: 'oswaldbook'; font-size:20px; text-transform:uppercase;}
h5{font-family: 'oswaldbook'; font-size:20px; text-transform:uppercase;}
h6{font-family: 'OpenSansExtrabold'; font-size:16px;}
p{font-family: 'latoregular'; font-size:16px; line-height:23px;}
/******************************************* FONTS OPEN **************************************/
/************************ Warning Box open *****************************/
.warning-box h1{font-family:'HelveticaNeueBold' Arial, sans-serif; font-size:3em; text-align:center;}
/************************ Warning Box Close *****************************/
/************ OpenSans Fonts Open **********/
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#OpenSansLight') format('svg');
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#OpenSansSemibold') format('svg');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabold-webfont.svg#OpenSansExtrabold') format('svg');
}
/************ OpenSans Fonts Close **********/
/*************** Lato Fonts Open ******************/
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-reg-webfont.eot');
    src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoblack_italic';
    src: url('../fonts/lato-blaita-webfont.eot');
    src: url('../fonts/lato-blaita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-blaita-webfont.woff') format('woff'),
         url('../fonts/lato-blaita-webfont.ttf') format('truetype'),
         url('../fonts/lato-blaita-webfont.svg#latoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bol-webfont.eot');
    src: url('../fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bol-webfont.woff') format('woff'),
         url('../fonts/lato-bol-webfont.ttf') format('truetype'),
         url('../fonts/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*************** Lato Fonts Close ******************/
/*************** Oswald Fonts Close ******************/
@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/oswald-light-webfont.eot');
    src: url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-light-webfont.woff') format('woff'),
         url('../fonts/oswald-light-webfont.ttf') format('truetype'),
         url('../fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oswaldbook';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oswald_stencilregular';
    src: url('../fonts/oswald-stencil-webfont.eot');
    src: url('../fonts/oswald-stencil-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-stencil-webfont.woff') format('woff'),
         url('../fonts/oswald-stencil-webfont.ttf') format('truetype'),
         url('../fonts/oswald-stencil-webfont.svg#oswald_stencilregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/oswald-bold-webfont.eot');
    src: url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-bold-webfont.woff') format('woff'),
         url('../fonts/oswald-bold-webfont.ttf') format('truetype'),
         url('../fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*************** Oswald Fonts Close ******************/
/************************************ FONTS CLOSE *****************************************/
/*----- Hearder -----*/
#menu-area .navbar-default .navbar-nav>li>a{font-family: 'oswaldbook'; font-size:18px; text-transform:uppercase;}
#menu-area .dropdown-menu>li>a{ font-family: 'oswaldbook';font-size:18px; text-transform:uppercase;}
/*----- Hearder -----*/
/*----- submain Hearder -----*/
.call-us h2{ font-family: 'oswaldbook'; font-size:26px; color:#404142;}
.call-us h3{ font-family: 'OpenSansExtrabold'; font-size:28px; color:#e88383;}
/*----- submain Hearder-----*/
/*----- Welcome -----*/
.welcome-area{ }
/*----- Welcome -----*/
/*----- Work Area -----*/
/*----- Work Area -----*/
/*----- What We Do Area -----*/
.whatwedo-area ul li{font-family: 'latoregular'; font-size:16px;}
/*----- What We Do Area -----*/
/*----- Serving-area Area -----*/
.serving-area ul li, .serving-area ul li a{ font-family: 'latolight'; font-size:28px;}
.other-citis{font-family: 'latoblack_italic'; font-size:25px;}
/*----- Serving-area Area -----*/
/*----- Footer Area -----*/
.footer-area ul li a{ font-family: 'latoregular'; font-size:14px; }
.footer-area p{ font-size:14px;}
/*----- Footer Area -----*/
/*----- inner Area -----*/
.inner-area ul li{ font-family: 'latoregular'; font-size:16px;}
.team-con h2{font-family: 'latobold'; font-size:18px; text-transform:capitalize; text-align:center;}
.team-con h3{font-family: 'latoregular'; font-size:13px; text-transform:capitalize; text-align:center;}
.team-con p{font-family: 'latoregular'; font-size:13px;}
/*----- inner Area -----*/
/*----- Location Area -----*/
.customer-area ul li a, .customer-area ul li span{font-family: 'latoregular'; font-size:20px;}
.showmore a{font-family: 'oswaldlight'; font-size:21px;}
/*----- Location Area -----*/
/*----- Gallery Area -----*/
.gallery-area ul li a{font-family: 'oswaldlight'; font-size:20px;}
.gallery-area .pagination-area ul li a{font-family: 'latoregular'; font-size:12px;}
/*----- Gallery Area -----*/
/*----- Sidebar Area -----*/
.side-table ul li{font-family: 'latoregular'; font-size:16px;}
.sidebar-area .resent-con ul li{font-family: 'oswaldbook'; font-size:12px;}
/*----- Sidebar Area -----*/
/*----- request page -----*/
.blank-white label, .grey label{font-family: 'latoregular';font-size:16px; font-weight:normal;}
.text,.textaria,.pro-coad,select{ font-family: 'latoregular';font-size:18px;}
.il{font-family: 'latoblack_italic';font-size:14px;}
.submet-btn{  font-family: 'oswaldlight'; font-size:24px;}
/*----- request page -----*/
/*----- Blog page -----*/
.readmore a{ font-family: 'oswaldbook'; font-size:14px;}
/*----- Blog page -----*/